<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xuele.infrastructure.dao.ICrowdTagsDetailDao">

    <resultMap id="dataMap" type="cn.xuele.infrastructure.dao.po.CrowdTagsDetail">
        <id column="id" property="id"/>
        <result column="tag_id" property="tagId"/>
        <result column="user_id" property="userId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!--批量插入人群标签-->
    <insert id="addCrowdTagsUsers" parameterType="java.util.List">
        insert into crowd_tags_detail(tag_id, user_id, create_time, update_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.tagId}, #{item.userId}, now(), now())
        </foreach>
    </insert>
    <select id="queryTagIdByUserId" resultType="java.lang.String" parameterType="java.lang.String">
        select tag_id
        from crowd_tags_detail
        where user_id = #{userId}
    </select>

</mapper>
